In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

### 1. Using lemonade.csv dataset and focusing on continuous variables:

    - Use the IQR Range Rule and the upper and lower bounds to identify the lower outliers
    of each column of lemonade.csv, using the multiplier of 1.5. Do these lower outliers
    make sense? Which outliers should be kept?
    
    - Use the IQR Range Rule and the upper and upper bounds to identify the upper outliers
    of each column of lemonade.csv, using the multiplier of 1.5. Do these upper outliers
    make sense? Which outliers should be kept?
    
    - Using the multiplier of 3, IQR Range Rule, and the lower bounds, identify the outliers
    below the lower bound in each colum of lemonade.csv. Do these lower outliers make sense?
    Which outliers should be kept?    
    
    - Using the multiplier of 3, IQR Range Rule, and the upper bounds, identify the outliers
    above the upper_bound in each colum of lemonade.csv. Do these upper outliers make sense?
    Which outliers should be kept?

In [2]:
url = 'https://gist.githubusercontent.com/ryanorsinger/19bc7eccd6279661bd13307026628ace/raw/e4b5d6787015a4782f96cad6d1d62a8bdbac54c7/lemonade.csv'
df = pd.read_csv(url)
df

         Date        Day  Temperature  Rainfall  Flyers  Price  Sales
0      1/1/17     Sunday         27.0      2.00      15    0.5     10
1      1/2/17     Monday         28.9      1.33      15    0.5     13
2      1/3/17    Tuesday         34.5      1.33      27    0.5     15
3      1/4/17  Wednesday         44.1      1.05      28    0.5     17
4      1/5/17   Thursday         42.4      1.00      33    0.5     18
..        ...        ...          ...       ...     ...    ...    ...
360  12/27/17  Wednesday         42.7      1.00      33    0.5     19
361  12/28/17   Thursday         37.8      1.25      32    0.5     16
362  12/29/17     Friday         39.5      1.25      17    0.5     15
363  12/30/17   Saturday         30.9      1.43      22    0.5     13
364  12/31/17     Sunday         15.1      2.50       9    0.5      7

[365 rows x 7 columns]

### 2. Identify if any columns in lemonade.csv are normally distributed. For normally distributed columns:

    - Use a 2 sigma decision rule to isolate the outliers.
    - Do these make sense?
    - Should certain outliers be kept or removed?

### 3. Now use a 3 sigma decision rule to isolate the outliers in the normally distributed columns from lemonade.csv